@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500&display=swap");

* {
  box-sizing: border-box;
}
body {
  margin: 0;
  background: radial-gradient(#282c34, #282c34);
}
html {
  font-family: "Noto Sans", sans-serif;
}

.formFlex {
  display: flex;
  /*margin-bottom: 10px;*/
}

.formGroup {
  flex: 1;
  padding: 7px 10px;
  /*padding: 10px 15px*/
}